/* Resetting default margin and padding to 0 and including border-box for better box sizing */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Setting height and width of html and body to 100% */
html,body {
    height: 100%;
    width: 100%;
}

/* Centering the content vertically and horizontally using flexbox */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the container holding the buttons and grid */
#container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    height: 750px;
    width: 750px;
}

/* Styling for the button container */
#button {
    height: 100px;
    width: 750px;
    border: 5px solid black;
    display: flex;
}

/* Styling for the grid container */
#box {
    display: flex;
    justify-content: center;
}

/* Styling for the grid itself */
#gridBox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 650px;
    width: 650px;
    position: relative;
    overflow: hidden;
}
#color{
    display: flex;
}
#red{
    display: flex;
}
#green{
    display: flex;
}
#blue{
    display: flex;
}
#colorBox{
    border: 1px solid #000;
    height: 20px;
    width: 20px;
}
